
body{
    /*box-sizing: border-box;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.cont{
 width: 92%;
 margin: auto; 
 background-color: #B91646;
 color: azure;
 padding: 70px 40px;
 border-radius: 4px ;
}

input {
    border: none;
    border-radius:4;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    margin: 0;
    border-radius: 4px 0px 0px 4px;
  }
  
#addbtn{
    padding: 10px;
    width: 21%;
    background: #C3DBD9;
    color: #555;
    float:left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4;
    border: none;
    border-radius:0px 4px 4px 0px;
      
}
#addbtn:hover {
    background-color: #bbb;
  }

li{
    list-style: none;
    background-color:  #FBF3E4;
    padding: 20px;
    text-align: left;
    font-size:large;
   margin: 8px auto;
   width: 94.6%;
   border-radius: 4px ;
}
ul {
  margin: 0;
  padding: 0;
}

ul li:nth-child(odd) {
  background: #105652;
}
.remove {
text-align: right;
float: right;
border: none;
background:none;
color:#B91646;
}
